@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #F9FAFB, #D2D6DB);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
